# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool
*.out

# Configuration files
config.toml

# Dependency directories
vendor/

# Output directory
tmp/

# Nix
.direnv/
result
